name: Build

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Install npm dependencies
        run: npm ci
      - name: Run linter
        run: npm run lint
      - name: Run format check
        run: npm run format:check
